EDMAGE2024.aux
EDMAGE2024.fdb_latexmk
EDMAGE2024.fls
EDMAGE2024.log
EDMAGE2024.out
EDMAGE2024.synctex.gz
EDMAGE2024.synctex(busy) (1).gz
EDMAGE2024.synctex(busy) (2).gz
EDMAGE2024.synctex(busy).gz
PCPV2020.aux
desktop.ini
EDMAGE2024.toc
